MarkupSafe
Pygments
furo
Sphinx>=4.2.0
sphinx-copybutton
sphinxext-opengraph
sphinxcontrib-spelling
pyenchant>3
sphinx-autobuild
datetime
coverage
django~=5.2
django-cms
codespell
pip-tools
docstrfmt
-e .
